Keygen2012/ProfileCatalog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/pag/cab-profile/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SolutionProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Section">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Dependencies">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="Dependency">
                      <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Modules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ModuleInfo">
                      <xs:complexType>
                        <xs:attribute name="AssemblyFile" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>